In [1]:
# Import dependencies
import pandas as pd
import scapy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# import password so y'all can't see it
from config import mypass

In [2]:
csv_file = "museums.csv"
museum_file = pd.read_csv(csv_file, encoding = 'UTF-8')
museum_file.head()

C:\Users\Ted Olson\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (9,14,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Museum ID,Museum Name,Legal Name,Alternate Name,Museum Type,Institution Name,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
0,8400200098,ALASKA AVIATION HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,NaN,HISTORY MUSEUM,NaN,4721 AIRCRAFT DR,ANCHORAGE,AK,99502,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
1,8400200117,ALASKA BOTANICAL GARDEN,ALASKA BOTANICAL GARDEN INC,NaN,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",NaN,4601 CAMPBELL AIRSTRIP RD,ANCHORAGE,AK,99507,...,61.16890,-149.76708,4.0,20.0,2.0,6,920115504,201312.0,1379576.0,1323742.0
2,8400200153,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,NaN,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,NaN,9711 KENAI SPUR HWY,KENAI,AK,99611,...,60.56149,-151.21598,3.0,122.0,2.0,6,921761906,201312.0,740030.0,729080.0
3,8400200143,ALASKA EDUCATORS HISTORICAL SOCIETY,ALASKA EDUCATORS HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,214 BIRCH STREET,KENAI,AK,99611,...,60.56280,-151.26597,3.0,122.0,2.0,6,920165178,201412.0,0.0,0.0
4,8400200027,ALASKA HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,NaN,HISTORY MUSEUM,NaN,301 W NORTHERN LIGHTS BLVD,ANCHORAGE,AK,99503,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0

In [3]:
new_museum_df = museum_file[['Museum ID', 'Museum Name', 'State (Administrative Location)']]
new_museum_rename = new_museum_df.rename(columns={'Museum ID': 'Museum_ID', 'Museum Name': 'Museum_Name', 'State (Administrative Location)': 'State'})
new_museum_rename.head()

    Museum_ID                                        Museum_Name State
0  8400200098                    ALASKA AVIATION HERITAGE MUSEUM    AK
1  8400200117                            ALASKA BOTANICAL GARDEN    AK
2  8400200153  ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...    AK
3  8400200143                ALASKA EDUCATORS HISTORICAL SOCIETY    AK
4  8400200027                             ALASKA HERITAGE MUSEUM    AK

In [14]:
new_museum_rename.reset_index(level=0, inplace=True)
new_museum_rename.head()

   index   Museum_ID                                        Museum_Name State
0      0  8400200098                    ALASKA AVIATION HERITAGE MUSEUM    AK
1      1  8400200117                            ALASKA BOTANICAL GARDEN    AK
2      2  8400200153  ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...    AK
3      3  8400200143                ALASKA EDUCATORS HISTORICAL SOCIETY    AK
4      4  8400200027                             ALASKA HERITAGE MUSEUM    AK

In [19]:
#new_museum_rename.reset_index(level=0, inplace=True)
#new_museum_rename.head()
Museums = new_museum_rename[['Museum_ID', 'Museum_Name', 'State']]
Museums.drop_duplicates('Museum_Name', inplace=True)
Museums.set_index('Museum_Name', inplace=True)
Museums

C:\Users\Ted Olson\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

                                                     Museum_ID State
Museum_Name
ALASKA AVIATION HERITAGE MUSEUM                     8400200098    AK
ALASKA BOTANICAL GARDEN                             8400200117    AK
ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TECH...  8400200153    AK
ALASKA EDUCATORS HISTORICAL SOCIETY                 8400200143    AK
ALASKA HERITAGE MUSEUM                              8400200027    AK
ALASKA HISTORICAL MUSEUM                            8400200096    AK
ALASKA JEWISH MUSEUM                                8400200078    AK
ALASKA LIGHTHOUSE ASSOCIATION                       8400200084    AK
ALASKA MASONIC LIBRARY AND MUSEUM FOUNDATION        8400200107    AK
ALASKA MINING HALL OF FAME FOUNDATION               8400200073    AK
ALASKA NATIONAL GUARD HISTORICAL HOLDING-MUSEUM     8400200131    AK
ALASKA NATIVE HERITAGE CENTER                       8400200123    AK
ALASKA SEALIFE CENTER                               8409500006    AK
ALASKA SPORTS HALL OF FAME                          8400200082    AK
ALASKA STATE MUSEUM                                 8400200044    AK
ALASKA TERRITORIAL CAVALRY MOTORIZED                8400200133    AK
ALASKA TROOPER MUSEUM                               8400200026    AK
ALASKA VETERANS MUSEUM                              8400200031    AK
ALASKA WILDLIFE CONSERVATION CENTER                 8400200170    AK
ALASKA ZOO                                          8400200087    AK
ALASKALAND PIONEER AIR MUSEUM                       8400200025    AK
ALPINE HISTORICAL SOCIETY                           8400200109    AK
ALUTIIQ HERITAGE ENDOWMENT                          8400200152    AK
ALUTIIQ HERITAGE FOUNDATION                         8400200135    AK
AMERICAN TROPHY TAXIDERMY                           8400200024    AK
ANCHORAGE CLAY ARTS GUILD                           8400200137    AK
ANCHORAGE GENEALOGICAL SOCIETY                      8400200132    AK
ANCHORAGE HISTORIC PROPERTIES                       8400200121    AK
ANCHORAGE MUSEUM                                    8400200125    AK
ARC GALLERY                                         8409502704    AK
...                                                        ...   ...
UNIVERSITY OF WYOMING ANTHROPOLOGY MUSEUM           8409501190    WY
UNIVERSITY OF WYOMING ART MUSEUM                    8409504268    WY
UNIVERSITY OF WYOMING INSECT MUSEUM                 8409501046    WY
UNIVERSITY OF WYOMING PLANETARIUM                   8409501047    WY
UPTON HISTORY & HERITAGE PRESERVATION               8405600176    WY
UPTON RED ONION MUSEUM                              8409400715    WY
VETRANS MEMORIAL MUSEUM                             8405600003    WY
WAR BIRDS MUSEUM                                    8405600009    WY
WARREN MILITARY HISTORICAL ASSOCIATION              8405600100    WY
WASHAKIE MUSEUM                                     8405600123    WY
WERNER WILDLIFE MUSEUM                              8405600004    WY
WESTERN HISTORY CENTER                              8405600001    WY
WESTERN PLAINS HISTORIC PRESERVATION ASSOCIATION    8405600130    WY
WESTERN WYOMING COMMUNITY COLLEGEï¿½S ART GALLERY     8409504336    WY
WESTON COUNTY MUSEUM DISTRICT FOUNDATION            8405600088    WY
WIND RIVER HERITAGE CENTER                          8405600156    WY
WRIGHT CENTENNIAL MUSEUM                            8405600008    WY
WYOMING ARTIST COMPANY                              8405600170    WY
WYOMING AVIATION HALL OF FAME                       8405600188    WY
WYOMING CHILDREN'S MUSEUM & NATURE CENTER           8405600005    WY
WYOMING DINOSAUR CENTER                             8405600002    WY
WYOMING FRONTIER PRISON MUSEUM                      8405600007    WY
WYOMING MILITIA HISTORICAL SOCIETY                  8405600099    WY
WYOMING NATIONAL GUARD MUSEUM                       8409400781    WY
WYOMING SECONDARY ART EDUCATORS ASSOCIATION         8405600122    WY
WYOMING STATE HISTORICAL SOCIETY                    8405600060    WY
WYOMING STATE MUSEUM                                8405600061    WY
WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION       8405600158    WY
WYOMING TRANSPORTATION MUSEUM                       8405600137    WY
YELLOWSTONE NATIONAL PARK                           8405600199    WY

[31546 rows x 2 columns]

In [5]:
json_file = "traveler_rating_USonly.json"
traveler_rating_df = pd.read_json(json_file)
traveler_rating_df.head()

,Gettysburg Heritage Center,Hudson River Museum,The Aurora Ice Museum,Chrysler Museum of Art,Pink Palace Museum,Gettysburg Seminary Ridge Museum,Oklahoma Railway Museum,Ships of the Sea Maritime Museum,LBJ Presidential Library,Museum Mile,...,New England Air Museum,GulfQuest National Maritime Museum of the Gulf of Mexico,Mohave Museum of History and Arts,Ellis Island,San Diego Model Railroad Museum,Superstition Mountain Museum,Please Touch Museum,McClung Museum of Natural History and Culture,NSU Art Museum,Morikami Museum & Japanese Gardens
0,164,34,242,489,183,289,17,252,"1,181",8,...,129,106,47,"1,475",190,94,659,68,96,874
1,63,30,184,94,157,70,13,175,424,7,...,49,18,25,719,85,86,221,35,62,252
2,10,9,81,13,72,23,7,42,70,1,...,8,5,9,271,20,29,72,9,30,48
3,5,1,16,2,10,3,4,6,4,0,...,1,2,0,63,6,1,11,2,13,12
4,4,2,14,1,5,0,2,3,2,0,...,0,0,2,31,3,2,12,0,11,17

In [6]:
traveler_rating_average = traveler_rating_df.mean(axis=0)
traveler_rating_average.head()

Gettysburg Heritage Center     49.2
Hudson River Museum            15.2
The Aurora Ice Museum         107.4
Chrysler Museum of Art        119.8
Pink Palace Museum             85.4
dtype: float64

In [7]:
print (traveler_rating_average)

Gettysburg Heritage Center                                   49.2
Hudson River Museum                                          15.2
The Aurora Ice Museum                                       107.4
Chrysler Museum of Art                                      119.8
Pink Palace Museum                                           85.4
Gettysburg Seminary Ridge Museum                             77.0
Oklahoma Railway Museum                                       8.6
Ships of the Sea Maritime Museum                             95.6
Museum Mile                                                   3.2
High Museum of Art                                          276.8
Virginia Living Museum                                       97.2
Computer History Museum                                      85.4
Georgia State Railroad Museum                                88.6
University of Michigan Museum of Natural History             21.4
Mutter Museum                                               220.6
Independence Seaport Museum                                  33.6
Fort East Martello Museum                                    56.8
The Delta Blues Museum                                       67.6
Pensacola Naval Air Station                                 146.6
The Andy Griffith Museum                                     97.2
Science Museum of Minnesota                                 141.2
Living Computer Museum                                       15.8
Fairhope Museum                                              17.2
The California Route 66 Museum                               23.2
Mount Dora Museum Of Speed                                   35.8
Frazier History Museum                                       99.4
Pueblo Grande Museum                                         28.4
Golisano Children's Museum of Naples                         46.0
Skagway Museum and Archives                                  25.4
45th Infantry Division Museum                                41.4
                                                            ...
History of Diving Museum                                    104.4
Baltimore and Ohio Railroad Museum                          109.0
Oregon Historical Society Museum                             48.8
Children's Museum of Houston                                216.8
Children's Museum of Pittsburgh                              81.6
Jefferson Historical Museum                                  25.0
Simeone Foundation Automotive Museum                         34.2
Sacramento History Museum                                    15.0
Museum of Making Music                                       44.0
Santa Barbara Maritime Museum                                28.2
Seattle Center                                              157.6
Draper Natural History Museum                                22.0
Jack Sisemore Traveland RV Museum                            61.2
Ocean Star Offshore Drilling Rig & Museum                   109.4
Museum of the Rockies                                       192.8
Cleveland Museum of Natural History                          74.8
Sarasota Classic Car Museum                                  56.2
Kauai Museum                                                 62.2
American Museum of Science & Energy                          59.0
Buford Pusser Home and Museum                                11.2
Ann Arbor Hands-On Museum                                    64.2
New England Air Museum                                       37.4
GulfQuest National Maritime Museum of the Gulf of Mexico     26.2
Mohave Museum of History and Arts                            16.6
San Diego Model Railroad Museum                              60.8
Superstition Mountain Museum                                 42.4
Please Touch Museum                                         195.0
McClung Museum of Natural History and Culture                22.8
NSU Art Museum                                               42.4
Morikami Museum & Japanese Gardens                          240.6
Length: 881, dtype: float64

In [8]:
indexed_traveler = traveler_rating_average.reset_index(level=0)
indexed_traveler.head()

                        index      0
0  Gettysburg Heritage Center   49.2
1         Hudson River Museum   15.2
2       The Aurora Ice Museum  107.4
3      Chrysler Museum of Art  119.8
4          Pink Palace Museum   85.4

In [9]:
renamed_traveler = indexed_traveler.rename(columns={'index': 'Museum_Name', 0: 'Rating'})
renamed_traveler
renamed_traveler.set_index('Museum_Name', inplace=True)
renamed_traveler

                                                    Rating
Museum_Name
Gettysburg Heritage Center                            49.2
Hudson River Museum                                   15.2
The Aurora Ice Museum                                107.4
Chrysler Museum of Art                               119.8
Pink Palace Museum                                    85.4
Gettysburg Seminary Ridge Museum                      77.0
Oklahoma Railway Museum                                8.6
Ships of the Sea Maritime Museum                      95.6
Museum Mile                                            3.2
High Museum of Art                                   276.8
Virginia Living Museum                                97.2
Computer History Museum                               85.4
Georgia State Railroad Museum                         88.6
University of Michigan Museum of Natural History      21.4
Mutter Museum                                        220.6
Independence Seaport Museum                           33.6
Fort East Martello Museum                             56.8
The Delta Blues Museum                                67.6
Pensacola Naval Air Station                          146.6
The Andy Griffith Museum                              97.2
Science Museum of Minnesota                          141.2
Living Computer Museum                                15.8
Fairhope Museum                                       17.2
The California Route 66 Museum                        23.2
Mount Dora Museum Of Speed                            35.8
Frazier History Museum                                99.4
Pueblo Grande Museum                                  28.4
Golisano Children's Museum of Naples                  46.0
Skagway Museum and Archives                           25.4
45th Infantry Division Museum                         41.4
...                                                    ...
History of Diving Museum                             104.4
Baltimore and Ohio Railroad Museum                   109.0
Oregon Historical Society Museum                      48.8
Children's Museum of Houston                         216.8
Children's Museum of Pittsburgh                       81.6
Jefferson Historical Museum                           25.0
Simeone Foundation Automotive Museum                  34.2
Sacramento History Museum                             15.0
Museum of Making Music                                44.0
Santa Barbara Maritime Museum                         28.2
Seattle Center                                       157.6
Draper Natural History Museum                         22.0
Jack Sisemore Traveland RV Museum                     61.2
Ocean Star Offshore Drilling Rig & Museum            109.4
Museum of the Rockies                                192.8
Cleveland Museum of Natural History                   74.8
Sarasota Classic Car Museum                           56.2
Kauai Museum                                          62.2
American Museum of Science & Energy                   59.0
Buford Pusser Home and Museum                         11.2
Ann Arbor Hands-On Museum                             64.2
New England Air Museum                                37.4
GulfQuest National Maritime Museum of the Gulf ...    26.2
Mohave Museum of History and Arts                     16.6
San Diego Model Railroad Museum                       60.8
Superstition Mountain Museum                          42.4
Please Touch Museum                                  195.0
McClung Museum of Natural History and Culture         22.8
NSU Art Museum                                        42.4
Morikami Museum & Japanese Gardens                   240.6

[881 rows x 1 columns]

In [10]:
connection_string = f"root:{mypass}@localhost/Museums_db"
engine = create_engine(f'mysql://{connection_string}')

In [11]:
# Confirm tables
engine.table_names()

['museum_directory', 'museum_reviews']

In [12]:
Museums.to_sql(name = 'Museum_Directory', con=engine, if_exists='append', index=True)

C:\Users\Ted Olson\Anaconda3\lib\site-packages\pandas\io\sql.py:1166: UserWarning: The provided table name 'Museum_Directory' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [13]:
renamed_traveler.to_sql(name = 'Museum_Reviews', con=engine, if_exists='append', index=True)

C:\Users\Ted Olson\Anaconda3\lib\site-packages\pandas\io\sql.py:1166: UserWarning: The provided table name 'Museum_Reviews' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)